@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --purpleColor: rgba(143,92,181,1);
    --redColor:rgba(252,70,107,1);
}
body{
    background: linear-gradient(90deg,var(--purpleColor) 26%, var(--redColor) 88%);
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    min-height: 100vh;
    margin: none;
}

header{
    font-size: 1.5rem;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: .5rem;
    border: none;
    outline: none;

}

form input{
    padding-right: 22px;
    width: 25%;
}


form button{
    color: var(--purpleColor);
    font-size: 1.1rem;
    background: white;
    cursor: pointer;
    margin-left: -26px;
    transition: all .3s ease;
}

form button:hover{
    color: white;
    background: var(--purpleColor);
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 20%;
    list-style: none;
}
.todo-input{
    font-size: 1.1rem;
}
.todo{
    margin: .5rem;
    background-color: white;
    color: black;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 20%;
    transition: all .5s ease;
}

.todo li{
    flex: 1;
}

.todo-item{
    font-size: .9rem;
    padding: 0rem 0.5rem;

}

.trash-button, .complete-button{
    color: white;
    outline: none;
    border: none;
    padding: .35rem;
    margin: 1px;
    cursor: pointer;
    font-size: .9rem;
}
.complete-button{
    background-color: rgb(109, 241, 0);
}
.trash-button{
    background-color: rgb(255, 0, 0);
}

.fa-trash, .fa-check{
    pointer-events: none;

}

.completed{
    text-decoration: line-through;
    opacity: .4;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: var(--purpleColor);
    width: 7rem;
    cursor: pointer;
    padding: .2rem 0rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background-color: var(--purpleColor);
    top: 0;
    right: 0;
    padding: 0.2rem .5rem;
    pointer-events: none;
}